<div class="info-row">
    <mat-card class="info-block">
        <mat-icon>360</mat-icon>
        <h3>Orbit Around</h3>
        <p>Left click + drag or One finger drag (touch)</p>
    </mat-card>
    <mat-card class="info-block">
        <mat-icon>zoom_in</mat-icon>
        <h3>Zoom</h3>
        <p>Scroll anywhere or Pinch (touch)</p>
    </mat-card>
    <mat-card class="info-block">
        <mat-icon>open_with</mat-icon>
        <h3>Pan</h3>
        <p>Right click + drag or Two fingers drag (touch)</p>
    </mat-card>
</div>
<h2>
    Measurement Mode
</h2>
<mat-card>
    <mat-list role="list">
        <mat-list-item style="margin: 15px 0;" role="listitem">
            Enable the measurement mode by clicking on slide toggle present inside Mode Card
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="margin: 15px 0;" role="listitem">
            Left click the 3D model, and the measurement between the two markers will display
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="margin: 15px 0;" role="listitem">
            Keep clicking to add more measurement markers
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="margin: 15px 0;" role="listitem">
            When the first marker and the last marker are close enough, the area will display
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="margin: 15px 0;" role="listitem">
            Press 'Escape' key to clear the measurement
        </mat-list-item>
    </mat-list>
</mat-card>